body{
    margin:50px 250px 50px 250px;
    font-family:"Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif;
    font-size:16px;
    line-height:1.6;
}
h1{
    color:#325B80;
}
h2{
    color:#B0DAFF;
}
h3{
    color:#64B7FF;
    
}
.classPre{
    padding: 20px;
    font-size:12px;
    background-color: aliceblue;
}
blockquote{
    margin:16px 0;
    font-size:inherit;
    padding:0 15px;
    color:#5c5c5c;
    border-left:4px solid #d6d6d6
}
